<div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
<h1>Welcome to Social Training!!</h1>
<p>筋トレの記録をつけて、 </p>
<p>理想の体作りに向けてユーザー同士で</p>
<p>情報共有やアドバイスをするＳＮＳサイトです！</p>



<% unless user_signed_in? %>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
<% end %>